<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.hidden_field :token, value: SecureRandom.uuid %>
  </div>

  <div class="field">
    <%= form.label :credit_card_number %>
    <%= form.text_field :credit_card_number, value: "4111111111111111", disabled: true %>
  </div>

  <div class="field">
    <%= form.label :cvn %>
    <%= form.text_field :cvn, value: "123", disabled: true %>
  </div>

  <div class="field">
    <%= form.label :expiry %>
    <%= form.text_field :expiry, value: "01/22", disabled: true %>
  </div>

  <div>
    <p><%= money(@cart.price + ShippingService.amount) %> (<%= money(ShippingService.amount) %> shipping fee)</p>
    <p><%= @cart.items.count %> items</p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
