<%= render partial: "menu" %>

<div>
  <p>
    <strong>Name:</strong> <%= @product.name %>
  </p>
  <p>
    <strong>Price:</strong> <%= money(@product.price) %>
  </p>
</div>

<%= form_with(model: Cart.new.tap { |cart| cart.items.build }, method: :put, url: cart_url) do |form| %>
  <%= form.fields_for(:items) do |items_form| %>
    <%= items_form.hidden_field(:product_id, value: @product.id) %>
    <%= items_form.number_field(:amount, value: 1) %>
  <% end %>

  <%= form.submit "Add to cart" %>
<% end %>
